Flask==3.1.0
flask_cors==5.0.0
torch==2.2.0
langchain==0.3.25
langchain-community==0.3.7
langchain-core==0.3.59
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.8
huggingface-hub==0.31.1
chromadb==1.0.15
pypdf==5.2.0
sentence-transformers>=2.6.0
pandas==1.5